<!-- footer -->
<section>

  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: aquamarine">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2 col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="primaryfont2">About us</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="primaryfont2">Donors</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="primaryfont2">Achievements</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="primaryfont2">Help</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-sm-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="primaryfont2">Contact</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p class="primaryfont2">
              Organ Donation is a family decision. So, it is important that you discuss your
              decision with family members and loved ones so that it will be easier for
              them to follow through with your wishes.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class="fontcss me-4" style="text-decoration: none;">
          <i class="fa fa-2x fa-facebook"></i>
        </a>
        <a href="" class="fontcss me-4" style="text-decoration: none;">
          <i class="fa fa-2x fa-twitter"></i>
        </a>
        <a href="" class="fontcss me-4" style="text-decoration: none;">
          <i class="fa fa-2x fa-google"></i>
        </a>
        <a href="" class="fontcss me-4" style="text-decoration: none;">
          <i class="fa fa-2x fa-instagram"></i>
        </a>
        <a href="" class="fontcss me-4" style="text-decoration: none;">
          <i class="fa fa-2x fa-linkedin"></i>
        </a>
        <a href="" class="fontcss me-4" style="text-decoration: none;">
          <i class="fa fa-2x fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3 primaryfont2"
         style="background-color: rgba(0, 0, 0, 0.2);"
         
         >
      © 2020 Copyright:
      <a class="primaryfont2" href="#"
         >DonorLifeIndia.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<!-- End of .container -->
  </section>
</body>
</html>