<%-include('header')-%>
  <!-- form -->
<section>
	<div class="form-container">
		<form method="post" action="/login">
			<!-- 2 column grid layout with text inputs for the first and last names -->
			<div class="row mb-4">
				<div class="col">
				
		
			<!-- Email input -->
			<div class="form-outline mb-4">
				<input type="email" name="email" id="form3Example3" class="form-control" />
				<label class="form-label" for="form3Example3">Email address</label>
			</div>
		
			<!-- Password input -->
			<div class="form-outline mb-4">
				<input type="password" name="password" id="form3Example4" class="form-control" />
				<label class="form-label" for="form3Example4">Password</label>
			</div>
		

		
			<!-- Submit button -->
			<center><button type="submit" class="btn  btn-danger btn-block mb-4">Sign up</button></center>
		
			</div>
		</form>
	</div>
</section>
  
  <%-include('footer')-%>